.column
  .title
    Join our next virtual interview!
  .description
    Learn how to work without breaking code, write good tests, and collaborate effectively with the author of
  = link_to "Trunk Based Development", "https://trunkbaseddevelopment.com/book/"
  .image-width70pct
    = image_tag "/images/solutions/version-control-collaboration/Trunk-based-development-interview.png", class: "margin-top10"
  = link_to "Register here", "https://gitlab.zoom.us/meeting/register/tJAtd-qtqz0oEtUgBm4PjOw3v-SSNfiD7JaN", class: "read-more"
