.row.links
  .col-xs-1.col-md-1
  .col-xs-11.col-md-6
    %h2 Help and More Information
    %ul
      %li
        Please see
        = link_to "/get-help/" do
          Get help for GitLab
        if you have questions
      %li
        View a guide to setting up
        %a{ href: "https://youtu.be/VR2r1TJCDew" }
          agile teams
        with GitLab
      %li
        How to do
        %a{ href: "https://youtu.be/PmFFlTH2DQk" }
          SAFe (Scaled Agile Framework)
        with GitLab
      %li
        How
        %a{ href: "https://youtu.be/CiolDtBIOA0" }
          Issue Boards
        work with GitLab
      %li
        Configurable
        %a{ href: "https://youtu.be/m5UTNCSqaDk" }
          Issue Boards
      %li
        How to use GitLab for
        %a{ href: "https://about.gitlab.com/blog/2018/03/05/gitlab-for-agile-software-development/" }
          Agile
      %li
        4 Ways to use Issue
        %a{ href: "https://about.gitlab.com/blog/2018/08/02/4-ways-to-use-gitlab-issue-boards/" }
          Boards
  .hidden-xs.hidden-sm.col-md-4
    = image_tag "/images/home/gitlabagilelogo.svg", class: "gitlab-arch hidden-xs", alt: "GitLab Agile", style: "margin-top: 40px;"
