.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 What Are The GitLab Advantages?
    %ul
      %li
        %strong Integrated:
        Agile is integral to GitLab, enabling collaboration and visibility from planning to deployment (and beyond)
      %li
        %strong Easy to learn:
        See our
        %a{ href: "https://www.youtube.com/watch?v=VR2r1TJCDew" }
          Quick Start
        guide on setting up Agile teams
      %li
        %strong Seamless:
        Part of the single GitLab application, with a single great user experience
      %li
        %strong Scalable:
        Organize multiple Agile teams to achieve enterprise Agile scalability
      %li
        %strong Flexible:
        Flexible enough to adapt to your methodology, whether you're bootstrapping Agile projects or running a top-down, formal framework
      %li
        %strong Team Tracking:
        Track work with boards, backlogs, dashboards and traceability into your
        = link_to "/product/continuous-integration/" do
          CI/CD
    %hr.divider
